.right__menu {
    z-index: 999999;
    position: absolute;
    float: right;
    right: 120px;
    top: 25px;
}

.right__menu_itens {
    display: flex;
    gap: 10px;


}

#btn--calendar {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #F9513E;
    padding: 10px;
    color: #fff;
    border-radius: 25px;

    transition: .5s;

    border: none;
}

#btn--calendar:hover {
    background-color: #fff;
    color: #F9513E;
}

#btn--share {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    color: #F9513E;
    transition: .5s;
    left: 20px;
    background-color: transparent;
    border: none;

}

#btn--share:hover {
    color: #fff;

}

/*
========= PopUp Section
*/

/*
    CALENDAR POPUP
*/
.pop_up_calendar  {
    height: 300px;
    background-color:#F9513E;
    transition: .5s;
    position: relative;
    text-align: center;
    color: #fff;
    transition: .5s;
    width: 300px;
}
#popup-2 {
    width: 310px;
    background-color:#F9513E;
}

.pop_up_calendar h3 {
    margin-bottom: 10px;
    transition: .5s;
}
.pop_up_calendar h3:hover {
    color: #ccd3d6c7;
    cursor: pointer;
}
.top__info {
    text-align: center;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(240, 248, 255, 0.479);
    width: 120px;
    position: relative;
    margin-left: 30%;
}

/*
SHARE POPUP
*/
.pop_up {
    height: 105px;
    background-color:#F9513E;
    transition: .5s;
    overflow: hidden;
}
#popup-4 {
    background-color:#F9513E;
    width: 198px;
    height: 115px;
}

.popup__item {
    position: relative;
    margin-right: 10px;
    margin-left: 4%;
    font-size: 30px;

    padding: 8px;
    bottom: -5px;

    transition: .5s;

    margin-top: 10px;

    color: #fff;
}

.popup__item:hover {
    color:#ccd3d6c7;
    border-radius: 10px;
}