.right__menu {
    z-index: 999999;
    position: absolute;
    float: right;
    right: 120px;
    top: 25px;
}

.right__menu_itens {
    display: flex;
    gap: 10px;


}

#btn--calendar {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #F9513E;
    padding: 10px;
    color: #fff;
    border-radius: 25px;

    transition: .5s;

    border: none;
}

#btn--calendar:hover {
    background-color: #fff;
    color: #F9513E;
}

#btn--share {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    color: #F9513E;
    transition: .5s;
    left: 20px;
    background-color: transparent;
    border: none;

}

#btn--share-fs {
    text-transform: uppercase;
    color: #F9513E;
    text-align: center;
    font-size: 25px;
}

#btn--share:hover {
    color: #fff;
}

/*
========= PopUp Section
*/

/*
    CALENDAR POPUP
*/

.top__info {
    text-align: center;
    color: #F9513E;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(240, 248, 255, 0.479);
    width: 120px;
    position: relative;
    margin-left: 30%;
}
.itens__sd {
    color: #F9513E;
    cursor: pointer;
}
.itens__sd  p {
    text-align: center;
    margin-bottom: 25px;
}
.itens__sd  h3 {
    transition: .5s;
    margin-bottom: 20px;
}

.itens__sd h3:hover  {
    color:#354044d7;
}
/*
SHARE POPUP
*/
.pop_up {
    height: 105px;
    transition: .5s;
    overflow: hidden;
    width: 250px;
    margin-left: 9%;
}

.popup__item {
    position: relative;
    margin-right: 10px;
    margin-left: 10%;
    font-size: 30px;
    padding: 8px;
    bottom: -5px;
    transition: .5s;
    color:#F9513E;
}

.popup__item:hover {
    color:#ccd3d6c7;
    border-radius: 10px;
}