.Home {
    width: 100%;
    height: 100vh;

    background-position: center;
    background-size: cover;
}

.mario_logo {
    position: absolute;
    top: 100px;
    width: 100%;
    max-width: 1000px;
}

.info {
    text-align: center;
    position: relative;
    top: 600px;
    text-transform: uppercase;
}

.info h2 {
    color: #fff;
    font-size: 40px;
}

.info h1 {
    color: #fff;
    font-size: 60px;
}

.info .btn {
    text-decoration: none;
    position: relative;
    top: 20px;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 30px;
    transition: .5s;
    font-weight: bold;
}

.info .btn:hover {
    color: #F9513E;
    border: 2px solid #F9513E;

}


.link {
    float: right;
    position: relative;
    right: 30px;
    top: 700px;
    font-size: 30px;
    color: #fff;
}

.link i {
    margin-right: 25px;
    transition: .5s;
}

i:hover {
    cursor: pointer;
    color: #F9513E;
}

.video__container {
    height: 600px;
}
/*
====== Responsivity =====
*/

@media screen and (max-width: 1024px){

    .mario_logo {
        top: 50px;
        width: 100%;
        max-width: 600px;
    }

    .info .btn {
        top: 30px;
        font-size: 15px;
    }

    .info {
        text-align: center;
        position: relative;
        top: 350px;
        text-transform: uppercase;
    }

    .info h2 {
        
        font-size: 30px;
    }
    
    .info h1 {
        
        font-size: 40px;
    }

    .link {
        top: 400px;
        font-size: 30px;
    }
    
}